$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@media screen and (max-width: 1200px) {
  @import 'small';
}

@media screen and (min-width: 1200px) {
  @import 'large';
}

.linkedIn {
  @extend %fa-icon;
  @extend .fab;
  //color: #0077B5;
  color: lightgray;

  &:before {
    content: fa-content($fa-var-linkedin-in);
  }
}

.github {
  @extend  %fa-icon;
  @extend .fab;
  color: lightgray;

  &:before {
    content: fa-content($fa-var-github);
  }
}

#header {
  margin: 0 auto;
  text-align: center;

  h1 {
    color: white;
    margin-top: 0;
    padding-top: 20px;
  }
  h2 {
    color: white;
    font-size: medium;
    font-style: italic;
    em {
      font-size: x-large;
    }
  }
}

.fa-2x {
  vertical-align: middle;
}

body {
  margin: 0;
  background-image: url('/dust_scratches.png');
  background-repeat: repeat;
}