$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@media screen and (max-width: 1200px) {
  @import 'small';
}

@media screen and (min-width: 1200px) {
  @import 'large';
}

.linkedIn {

  @extend %fa-icon;
  @extend .fab;
  color: blue;

  &:before {
    content: fa-content($fa-var-linkedin-in);
  }
}

body {
  margin: 0;
}